@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');


*{
  margin:0;
  padding:0; 
  background-color:#080C28; 
  font-family: 'Orbitron', sans-serif;
  

}
/*Aplicar class na caixa de rover status; 
Aplicar hover amarelo com cor #72862D
Aplicar hover verde com cor #335B65 */

html{
  margin:5%;
  
  color:#0EE2B7;
}

.yellowColor{
  color:#D1F500;
  text-align:center;
}

.greenColor{
  color:#0EE2B7;
}


h1,h2,h3{
  text-align:center;
}

h1{
  
  font-size:3rem;
}

h3{
  font-size:2rem;
}


p{
  font-size:1.6rem;
}

#title{
  padding:3% 0;
}

/* h2,h3{

} */


#sideContainer{
  flex-direction: column;
  justify-content: center;
}

.flexProperties{
  display: flex;
}


#roverStatus, #roverInteraction{
margin:5%;
}



#matrixContainer{
  width:50vw;
  height:50vw;
  background-image: url(../img/Grid-10.svg);
  background-size: 100% 100%;
  margin:auto;
  position:relative;

}

#roverHtml{
  width: 4vw;
  height: 4vw;
  margin:0.5vw;
  text-align:center;
  font-size:300%;
  background-image: url(../img/Rover2-green.svg);
  background-size: 100% 100%;
  position:absolute;
}



aside{
  width:40vw;
  align-content: flex-start;
  text-align:center;
}

button{
  text-align:center;
  padding:2%;
  cursor:pointer;
}

#roverInteraction button:hover{
  background-color: #335B65;
}

#roverInteraction button {
  border:1px solid #0EE2B7;
  width:15vw;
  margin:1%;
}

#roverStatus button{
  border:1px solid #D1F500;
  width: 30vw;
  margin:2%;
}

#roverStatus button:hover{
  background-color: #72862D;
}

