@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');


*{
  margin:0;
  padding:0; 
  background-color:#080C28; 
  font-family: 'Orbitron', sans-serif;
  

}
/*Aplicar class na caixa de rover status; 
Aplicar hover amarelo com cor #72862D
Aplicar hover verde com cor #335B65 */

html{
  margin:2%;
  padding:1.5vw;
  color:#0EE2B7;
}

.yellowColor{
  color:#D1F500;
  text-align:center;
}

.greenColor{
  color:#0EE2B7;
}


h1,h2,h3{
  text-align:center;
}

h1{
  font-size:4vw;
}

h2{
  font-size:2.4vw;
}

h3{
  font-size:2.3vw;
}


#roverStatus p {
  font-size:1.9vw;
  margin:1% 0;
}

#title{
  padding:2% 0;
}

/* h2,h3{

} */


#sideContainer{
  flex-direction: column;
  justify-content: center;
}

.flexProperties{
  display: flex;
}


#roverStatus, #roverInteraction{
margin:5%;
}



#matrixContainer{
  width:40vw;
  height:40vw;
  background-image: url(../img/Grid-10.svg);
  background-size: 100% 100%;
  margin:auto;
  position:relative;
}

#roverHtml{
  width: 3vw;
  height: 3vw;
  margin:0.5vw;
  padding:0;
  text-align:center;
  font-size:300%;
  background-image: url(../img/Rover2-green.svg);
  background-size: 100% 100%;
  position:absolute;
  transition: transform 1s, top 1s, left 1s;
  background-color: transparent;
}



aside{
  width:40vw;
  align-content: flex-start;
  text-align:center;
}

button{
  text-align:center;
  padding:2%;
  cursor:pointer;
  font-size: 1.6vw;
}

#roverInteraction button:hover{
  background-color: #335B65;
}

#roverInteraction button {
  border:1px solid #0EE2B7;
  width:15vw;
  margin:1%;
}

#roverStatus button{
  border:1px solid #D1F500;
  width: 30vw;
  margin:2%;
}

#roverStatus button:hover{
  background-color: #72862D;
}



@media screen and (max-width: 700px) {


aside{
  width:90vw;
}

   #sideContainer{
    flex-direction: row;
    justify-content: center;
    width:90vw;
  }

  #gameContainer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #roverInteraction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 45vw;
    display:inline;
  }

  #roverInteraction h3 {
    flex-grow:4;
  }



}

